@page
@model IndexModel
@{
    Layout = "_LayoutAdmin";
    ViewData["isOverview"] = false;
    ViewData["Title Dashboard"] = "Product Management";
    ViewData["Category"] = "Manage";
    ViewData["SubCategory"] = "List";
}


<div class="container px-4">
    <div class="row">
        <div class="row gx-xl-5">
            <div class="card shadow-0 h-100" style="margin-left:20px">
                <hr class="hr" />
                <div class="card-body">
                    <div class="d-flex">
                        <div class="p-2 flex-grow-1">
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" class="form-control" id="datatable-search-input"/>
                                <label class="form-label" for="datatable-search-input">Search</label>
                            </div>
                        </div>
                        <div class="p-2">
                            <a type="button" class="btn btn-primary" asp-page="/admin/product/create" data-mdb-ripple-init>
                                <i class="fas fa-circle-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>

                    <div data-mdb-datatable-init class="datatable"
                         data-mdb-hover="true" data-mdb-bordered="true" data-mdb-striped="true" data-mdb-full-pagination="true" data-mdb-borderless="true">
                        <table>
                            <thead>
                            <tr>
                                <th class="th-sm">Product Name</th>
                                <th class="th-sm">Price</th>
                                <th class="th-sm">Current stock</th>
                                <th class="th-sm">Description</th>
                                <th class="th-sm">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model.listProducts)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>
                                        <td>@item.Stock</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <a type="button" class="btn btn-primary" asp-page="/admin/product/edit" asp-route-id="@item.Id" data-mdb-ripple-init>
                                                <i class="fas fa-edit fa-lg"></i>
                                            </a>
                                            <a class="btn btn-danger popconfirm-toggle" asp-page="/admin/product/index" asp-route-id="@item.Id" asp-route-handler="Delete"
                                               onclick="confirmAction(event, this)"
                                               data-mdb-popconfirm-init
                                               data-mdb-position="top"
                                               data-mdb-ripple-init
                                               data-mdb-message="Are you sure want to delete">
                                                <i class="fas fa-trash-alt fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>