@page
@model IndexModel
@{
    Layout = "_LayoutCustomer";
    var stt = 1;
}


<!-- Start your project here-->
<div class="contentPOS" style="padding: 30px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 order-md-first order-last">
                <div class="card card-custom gutter-b bg-white border-0">
                    <div class="card-body">
                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="product-item" style="height: 600px; overflow-y: auto;">
                        <div class="row row-cols-1 row-cols-md-2 g-4" style="margin:0px">
                            @foreach (var item in Model.listProduct)
                            {
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                             data-mdb-ripple-color="light">
                                            <img src="/customer?handler=Image&id=@item.Id" class="card-img-top"
                                                 alt="Product Image"/>
                                            <a href="#!">
                                                <div class="mask">
                                                    <div class="d-flex justify-content-start align-items-end h-100">
                                                        <h5>
                                                            <span class="badge bg-primary ms-2">New</span>
                                                            <span class="badge bg-danger ms-2">-10%</span>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="hover-overlay">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-3">
                                                <h5 class="card-title">@item.Name</h5>
                                                <h5 class="text-dark mb-0">$@item.Price</h5>
                                            </div>
                                            <p class="card-text" id="cardText">@item.Description</p>
                                            <a href="/customer?handler=AddToCart&productId=@item.Id" class="btn btn-primary" data-mdb-ripple-init>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-8 col-md-8">
                <div class="card card-custom gutter-b bg-white border-0 table-contentpos">
                    @if (TempData["Message"] != null)
                    {
                        <div data-mdb-alert-init class="alert" role="alert" data-mdb-color="light">
                            @TempData["Message"]
                        </div>
                    }
                    
                    <form method="post" id="myForm">
                        <div class="card-body" id="box">
                            <div style="margin-bottom: 10px;">
                                <i class="fas fa-circle-user" style="padding-right: 5px;"></i> Customer Information
                            </div>

                            <input type="hidden" asp-for="customer.Id">

                            <div class="d-flex justify-content-between" style="gap: 10px;">
                                <div class="input-group">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="number" id="formNumber" asp-for="customer.PhoneNumber" class=" form-control" required/>
                                        <label class="form-label" for="form12">Phone number</label>
                                    </div>
                                    <a id="checkButton" type="button" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init
                                       data-mdb-ripple-color="dark">
                                        Check
                                    </a>
                                </div>
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="email" id="form12" asp-for="customer.EmailAddress" class="form-control" required/>
                                    <label class="form-label" for="form12">Email</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between" style="gap: 10px; padding-top: 10px;">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="form12" asp-for="customer.FName" class="form-control" required />
                                    <label class="form-label" for="form12">First name</label>
                                </div>

                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="form13" asp-for="customer.LName" class="form-control" required/>
                                    <label class="form-label" for="form13">Last name</label>
                                </div>

                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="form12" asp-for="customer.Address" class="form-control" required/>
                                    <label class="form-label" for="form12">Address</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card card-custom gutter-b bg-white border-0 table-contentpos" style="margin-top: 10px;">
                    <div class="card-body">
                        <div>
                            <i class="fas fa-cart-shopping" style="padding-right: 5px;"></i> List of Product
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.ListProductAddToCart)
                            {
                                <tr>
                                    <th scope="row">@(stt++)</th>
                                    <td>@item.Name</td>
                                    <td>1</td>
                                    <td>$@item.Price</td>
                                    <td>
                                            <a type="button"  href="/customer?handler=RemoveItemFromCart&idProduct=@item.Id" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-init
                                           data-mdb-ripple-color="dark">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="card card-custom gutter-b bg-white border-0">
                    <div class="card-body">
                        <div style="text-align: center; font-size: 20px;">
                            Summarize Of Bill
                        </div>
                        <hr class="hr"/>
                    </div>
                    <div class="card-body" style="padding-top: 0px; ">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p>Subtotal</p>
                                <p>Discount</p>
                                <p>VAT (8%)</p>
                                <p>TOTAL</p>
                            </div>
                            <div>
                                @foreach (var item in Model.listPriceSummarize)
                                {
                                    <p>$ @item</p>
                                }
                            </div>
                        </div>
                    </div>
                    <hr class="hr"/>

                    <div class="d-flex justify-content-end align-items-center flex-column buttons-cash" style="margin-bottom: 30px;">
                        <div>
                            <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-init
                                    data-mdb-ripple-color="dark" data-form-id="myForm" >
                                <i class="far fa-money-bill-1" style="margin-right: 5px;"></i>Pay with Cash
                            </button>                        
                        </div>
                        <div style="margin-top:10px">
                            <a href="/customer?handler=ClearOrder" type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-init
                                    data-mdb-ripple-color="dark" data-form-id="myForm">
                                <i class="fas fa-trash-can" style="margin-right: 5px;"></i>Clear Order
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End your project here-->
</div>
<script>
    document.getElementById('checkButton').addEventListener('click',
        function() {
            const phoneNumber = document.getElementById('formNumber').value;
            this.href = `/customer?handler=Customer&phoneNumber=${encodeURIComponent(phoneNumber)}`;
        });

    document.querySelectorAll('button[data-form-id]').forEach(button => {
        button.addEventListener('click', function() {
            var formId = this.getAttribute('data-form-id');
            var form = document.getElementById(formId);
            if (form.checkValidity()) {
                form.submit();
            } else {
                form.reportValidity(); 
            }

        });
    });
</script>