@page
@model ListOrderModel
@{
    Layout = "_LayoutCustomer";
    var dateNow = DateTime.Now;
    TimeSpan timeSinceLastActivity;
    string formattedLastActivity;
}
<div class="contentPOS" style="padding: 30px;">
    <div class="container-fluid">
        <div class="card card-custom gutter-b bg-white border-0">
            <div class="card-body">
                <h2>List Order</h2>
            </div>
            <hr class="hr"/>
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                               aria-describedby="search-addon"/>
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                </div>

            </div>
            <div data-mdb-datatable-init class="datatable">
                <table>
                    <thead>
                    <tr>
                        <th class="th-sm">Order</th>
                        <th class="th-sm">Customer</th>
                        <th class="th-sm">Last Activity</th>
                        <th class="th-sm">Total</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model.listOrderOfSaler)
                    {
                        <tr>
                            <td>#@item.Id</td>
                            <td>@(item.Customer.FName + " " + item.Customer.LName)</td>

                             @( timeSinceLastActivity = DateTime.Now - item.orderDate)

                                 
                                @if (timeSinceLastActivity.TotalMinutes < 1)
                                {
                                    formattedLastActivity = "Just now";
                                }
                                else if (timeSinceLastActivity.TotalHours < 1)
                                {
                                    formattedLastActivity = $"{timeSinceLastActivity.Minutes} minutes ago";
                                }
                                else if (timeSinceLastActivity.TotalDays < 1)
                                {
                                    formattedLastActivity = $"{timeSinceLastActivity.Hours} hours ago";
                                }
                                else if (timeSinceLastActivity.TotalDays < 30) // Approximately one month
                                {
                                    formattedLastActivity = $"{timeSinceLastActivity.Days} days ago";
                                }
                                else
                                {
                                    // For longer periods, you might want to show the actual date
                                    formattedLastActivity = item.orderDate.ToString("MMMM dd, yyyy");
                                }
                            <td>
                                    <span class="badge badge-info">@formattedLastActivity</span>
                            </td>

                            <td>$ @item.total</td>
                            <td>
                                <span class="badge badge-success">@item.status</span>
                            </td>

                            <td>
                                    <a href="/customer/orderdetail?OrderId=@item.Id" type="button" class="btn btn-outline-primary btn-rounded"
                                       data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="fas fa-eye fa-lg"></i></a>

                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>